<div style=" display: none; position: relative; bottom: 90px;" class="alert alert-success alert-dismissible  fade show" role="alert">
    <strong>successfully</strong> added this item to your cart!
    <button type="button" class="close"  aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>