<!DOCTYPE html>
<html lang="en">
  <head>

    <!-- meta tags -->
    <meta charset="utf-8">
    <meta name="keywords" content="Maktaris Herbals" />
    <meta name="description" content="Healthy Herbals store" />
    <meta name="author" content="TBEETECH" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Title -->
    <title>Maktaris Herbals</title>
    
    <!-- favicon icon -->
    <link rel="shortcut icon" href="images/favicon.ico" />
    
    <!-- inject css start -->
    
    <!--== theme plugin -->
    <link href="./css/theme-plugin.css" rel="stylesheet" type="text/css" />
    
    <!--== style -->
    <link href="./css/style.css" rel="stylesheet" type="text/css" />
    
    <!--== responsive -->
    <link href="./css/responsive.css" rel="stylesheet" type="text/css" />
    
    <!-- inject css end -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Petit+Formal+Script&display=swap" rel="stylesheet">
    
    </head>
    
    <body>
    
    <!-- page wrapper start -->
    
    <div class="page-wrapper">
    
    <!-- preloader start -->
    
    <div id="ht-preloader">
      <div class="clear-loader">
          <div class="loader"></div>
      </div>
    </div>
    
    <!-- preloader end -->
    
    
    <!--header start-->
    
    <header id="site-header" class="header">
      <!-- <div class="header-top">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-md-12 d-flex align-items-center justify-content-between">
                <div class="social-icons">
                  <ul class="list-inline">
                    <li><a href="#"><i class="fab fa-facebook-f"></i></a>
                    </li>
                    <li><a href="#"><i class="fab fa-google-plus-g"></i></a>
                    </li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a>
                    </li>
                  </ul>
                </div>
              <div class="d-flex align-items-center">
                <div class="language-selection mr-2">
                  <div class="dropdown">
                    <button class="dropdown-toggle" data-toggle="dropdown">English</button>
                    <div class="dropdown-menu"> <a href="#" class="dropdown-item">English</a>
                      <a href="#" class="dropdown-item">Arabic</a>
                    </div>
                  </div>
                </div> <a class="btn-sm" href="login.html">Login</a>
              </div>
            </div>
          </div>
        </div>
      </div> -->
      <img id="logo-img" class="img-center" src="images/finallogo.png" alt="">
      <div class="wit header-middle">
        <div class="container">
          <div class="row">
            <div class="col-md-12 d-flex align-items-center justify-content-between">
              <a class="logobody navbar-brand logo" href="index.html">
              </a>
              <div class="topbar-link d-none d-sm-flex align-items-center justify-content-between">
                  <div class="d-flex align-items-center mr-3"> <i class="allwhite flaticon-email"></i>
                    <div>
                      <h6 class="allwhite">Email Us</h6>
                      <a class="allwhite" href="mailto:themeht23@gmail.com">your email here</a>
                    </div>
                  </div>
                  <div class="d-none d-md-flex align-items-center mr-3"> <i class="allwhite flaticon-phone"></i>
                    <div>
                      <h6 class="allwhite" >Call Us</h6>
                      <a class="allwhite" href="tel:+912345678900"> Your number here</a>
                    </div>
                  </div>
                  <div class="d-none d-lg-flex align-items-center"> <i class="allwhite flaticon-24-hours"></i>
                    <div>
                     
                      <p class="allwhite mb-0">Available 24/7</p>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
      <div id="header-wrap">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <!-- Navbar -->
              <nav class="navbar navbar-expand-lg">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation"> <span></span>
                  <span></span>
                  <span></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                  <ul class="navbar-nav mr-auto">
                    <!-- Home -->
                    
                    <li class="nav-item " data-toggle="hover"> <a class="nav-link active homeclass" href="/" aria-haspopup="true" aria-expanded="false">Home</a>
                      <!-- <div class="dropdown-menu">
                        <ul class="list-unstyled">
                          <li><a href="index.html">Home 1</a>
                          </li>
                          <li><a href="index-2.html">Home 2</a>
                          </li>
                          <li><a href="index-3.html">Home 3</a>
                          </li>
                          <li><a href="index-4.html">Home 4</a>
                          </li>
                          <li><a href="index-5.html">Home 5</a>
                          </li>
                        </ul>
                      </div> -->
                    </li>
                    <li class="nav-item" data-toggle="hover"> <a class="nav-link shopclass" href="gridshop" aria-haspopup="true" aria-expanded="false">Shop</a>
                      <div class="dropdown-menu">
                        <!-- <ul class="list-unstyled">
                          <li><a href="index-shop.html">Shop Home</a>
                          </li>
                          <li><a href="product-grid.html">Product Grid</a>
                              </li>
                               <li><a href="product-list.html">Product List</a>
                              </li>                         
                              <li><a href="product-single.html">Product Single</a>
                              </li>
                               <li><a href="product-cart.html">Shoping Cart</a>
                              </li>
                              <li><a href="product-checkout.html">Checkout</a>
                              </li>
                              <li><a href="order-complete.html">Order Complete</a>
                              </li>
                        </ul> -->
                      </div>
                    </li>
                    <li class="nav-item" data-toggle="hover"> <a class="nav-link aboutclass" href="about" aria-haspopup="true" aria-expanded="false">About Us</a>
                      <div class="dropdown-menu">
                        <!-- <ul class="list-unstyled">
                          <li><a href="about-our-company.html">About Our Company</a>
                          </li>
                          <li><a href="our-history.html">Our History</a>
                          </li>
                          <li><a href="mission-values.html">Mission & Values</a>
                          </li>
                          <li><a href="career.html">Career</a>
                          </li>
                          <li><a href="career-single.html">Career Single</a>
                          </li>
                        </ul> -->
                      </div>
                    </li>
                    <!-- <li class="nav-item dropdown" data-toggle="hover"> <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pages</a>
                      <div class="dropdown-menu">
                        <ul class="list-unstyled">
                          <li class="dropdown dropdown-submenu" data-toggle="hover"> <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Case Studies
                        </a>
                            <ul class="dropdown-menu">
                              <li><a href="case-studies.html">Case Studies 1</a>
                              </li>
                              <li><a href="case-studies-2.html">Case Studies 2</a>
                              </li>
                              <li><a href="case-studies-3.html">Case Studies 3</a>
                              </li>
                               <li><a href="case-studies-4.html">Case Studies 4</a>
                              </li>
                              <li><a href="case-studies-single.html">Case Studies Single</a>
                              </li>
                            </ul>
                          </li>
                          <li class="dropdown dropdown-submenu" data-toggle="hover"> <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Team
                        </a>
                            <ul class="dropdown-menu">
                              <li><a href="team.html">Team 1</a>
                              </li>
                              <li><a href="team-2.html">Team 2</a>
                              </li>
                              <li><a href="team-single.html">Team Single</a>
                              </li>
                            </ul>
                          </li>
                          <li class="dropdown dropdown-submenu" data-toggle="hover"> <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Element
                        </a>
                            <ul class="dropdown-menu">
                              <li><a href="shortcode-accordion.html">Accordion</a>
                              </li>
                              <li> <a href="shortcode-button.html">Button</a>
                              </li>
                              <li><a href="shortcode-blog-post.html">Blog</a>
                              </li>
                              <li> <a href="shortcode-counter.html">Counter</a>
                              </li>
                              <li> <a href="shortcode-feature.html">Feature Box</a>
                              </li>
                              <li> <a href="shortcode-progress-bar.html">Progress Bar</a>
                              </li>
                              <li> <a href="shortcode-social-icon.html">Social Icon</a>
                              </li>                          
                              <li> <a href="shortcode-tab.html">Tab</a>
                              </li>
                              <li> <a href="shortcode-team.html">Team</a>
                              </li>
                              <li> <a href="shortcode-testimonial.html">Testimonial</a>
                              </li>
                            </ul>
                          </li>
                          <li><a href="faq.html">Faq</a>
                          </li>
                          <li><a href="pricing.html">Pricing</a>
                          </li>
                          <li><a href="maintenance.html">Maintenance</a>
                          </li>
                          <li><a href="coming-soon.html">Coming Soon</a>
                          </li>
                          <li><a href="error-404.html">404 Error</a>
                          </li>
                        </ul>
                      </div>
                    </li> -->
                    <!-- <li class="nav-item dropdown" data-toggle="hover"> <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Services</a>
                      <div class="dropdown-menu">
                        <ul class="list-unstyled">
                          <li><a href="business-services.html">Business Services</a>
                          </li>
                          <li><a href="software-research.html">Software & Research</a>
                          </li>
                          <li> <a href="finance-restructuring.html">Finance and Restructuring</a>
                          </li>
                          <li> <a href="energy-environment.html">Energy & Environment</a>
                          </li>
                          <li> <a href="investment-planning.html">Investment Planning</a>
                          </li>
                        </ul>
                      </div>
                    </li> -->
                    <!-- <li class="nav-item dropdown" data-toggle="hover"> <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Testimonials</a>
                      <div class="dropdown-menu">
                        <ul class="list-unstyled">
                          <li><a href="blog-grid-2.html">Blog Grid 2</a>
                          </li>
                          <li><a href="blog-grid-3.html">Blog Grid 3</a>
                          </li>
                          <li><a href="blog-left-sidebar.html">Blog left sidebar</a>
                          </li>
                          <li><a href="blog-right-sidebar.html">Blog right sidebar</a>
                          </li>
                          <li><a href="blog-single.html">Blog Single</a>
                          </li>
                        </ul>
                      </div>
                    </li> -->
                    <li class="nav-item" data-toggle="hover"> <a class="nav-link contactclass" href="contact" aria-haspopup="true" aria-expanded="false">Contact Us</a>
                      <div class="dropdown-menu">
                        <!-- <ul class="list-unstyled">
                          <li><a href="contact.html">Contact us 1</a>
                          </li>
                          <li><a href="contact-2.html">Contact us 2</a>
                          </li>
                        </ul> -->
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="right-nav align-items-center d-flex justify-content-end"> <a class="btn mr-1 mr-sm-3" href="#"><span>Maktaris Herbals</span></a>
                  <!-- <div class="search-icon mr-1 mr-sm-3">
                    <a id="search" href="javascript:void(0)"><i class="flaticon-search"></i></a>
                  </div> -->
                  <div>
                    <!-- <div class="cart"> <a href="#" id="header-cart-btn"><span class="cart-badge">0</span> <i class="flaticon-shopping-cart"></i></a>
                      <!-- Cart List Area Start -->
                      <!-- <ul class="cart-list"> -->
                        <!--mini cart item -->

                        <!-- <li>
                          <a href="#" class="image">
                            <img src="images/product-thumb/01.jpg" class="img-fluid cart-thumb" alt="">
                          </a>
                          <div class="cart-item-desc">
                            <h6><a href="#">Women's Fashion</a></h6>
                            <p>1x - <span>$</span><span class="price">132</span>
                            </p>
                          </div>
                        </li> -->

                        <!--mini cart item -->

                        <!-- <li>
                          <a href="#" class="image">
                            <img src="images/product-thumb/02.jpg" class="img-fluid cart-thumb" alt="">
                          </a>

                          <div class="cart-item-desc">
                            <h6><a href="#">Goggles</a></h6>
                            <p>1x - <span>$</span> <span class="price">28</span>
                            </p>
                          </div>     
                        </li> -->


                        <!-- <li class="total text-right"> <span>Total: $</span><span class="d-block">160.00</span>
                        </li>
                        <li><a href="cart" class="btn">Go to Cart</a>
                          
                        </li> -->
                        
                      <!-- </ul> -->
                    <!-- </div>  -->
                  </div>
                </div>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </header>
    
    <div class="search-input" id="search-input-box">
      <div class="container ">
        <form class="d-flex justify-content-between search-inner">
          <input type="text" class="form-control" id="search-input" placeholder="Search Here">
          <button type="submit" class="btn"></button> <span class="flaticon-close" id="close-search" title="Close Search"></span>
        </form>
      </div>
    </div>


<!--header end-->
<!--page title start-->

<section class="page-title parallaxie" data-bg-img="images/bg/10.jpg">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-12">
        <h1>About Maktaris Herbals.</h1>
        <nav aria-label="breadcrumb" class="page-breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a>
            </li>
            <li class="breadcrumb-item"><a href="#">About Us</a>
            </li>
            
          </ol>
        </nav>
      </div>
    </div>
  </div>
</section>

<!--page title end-->
<!--body content start-->

<div class="page-content">

<!--about us start-->

<section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 col-12">
        <div class="frame pos-r">
          <img class="img-fluid rounded box-shadow w-100" src="images/about/03.jpg" alt="">
          <div class=""> <a class=" popup-youtube mr-3" href="https://www.youtube.com/watch?v=P_wKDMcr1Tg"><i class="fas"></i></a>
          </div>
          <h5 style="text-align: center; text-decoration: underline; background-color:cornsilk; border: 1px solid brown; border-radius: 3px;">CEO Maktaris Herbal</h5>
        </div>
      </div>
      <div class="col-lg-6 col-12 md-mt-5">
        <div class="section-title mb-0">
          <h6>Who We Are</h6>
          <h2 class="title">We are the solution to your Health difficulties 😃</h2>
          <p>Maktaris herbals is a leading manufacturer of 💯organic products in African.The company has redefined the Nigerian health care space by promoting the health and safety of Nigerian through the use and adoption of all organic health care solution for INFERTILITY (both genders) and FIBROID.These herbal products has helped thousands of women battling infertility and fibroid.This company is popularly known by the effectiveness of our products.</p>
        </div>
        <div class="d-sm-flex align-items-center justify-content-between mt-5">
          <div class="counter"> <span class="count-number" data-to="15" data-speed="7000">15</span>
            <span>+</span>
            <h6>Experience</h6>
          </div>
          <div class="counter xs-mt-5"> <span class="count-number" data-to="377" data-speed="7000">235</span>
            <span>+</span>
            <h6>Success Reports</h6>
          </div>
          <div class="counter xs-mt-5"> <span class="count-number" data-to="4" data-speed="7000">7</span>
            <span>k</span>
            <h6>Happy Client</h6>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</section>

<!--about us end-->

<!--service start-->
<div class="row mt-8 text-white">
  <div class="col-lg-4 theme-bg p-5"> <i class="flaticon-brainstorming ic-3x"></i>
    <h5 class="font-w-7 text-white mt-3">Our Mission</h5>
    <p>The company has redefined the Nigerian health care space by promoting the health and safety of Nigerian through the use and adoption of all organic health care solution</p>
  </div>
  <div class="col-lg-4 dark-bg p-5"> <i class="flaticon-team ic-3x"></i>
    <h5 class="font-w-7 text-white mt-3">Our Vision</h5>
    <p>We are driven by the need to help Nigerian break free from chemical base health care products by creating a culture and enabling a natural herbs for health care solution to thrive</p> 
  </div>
  <div class="col-lg-4 theme-bg-2 p-5"> <i class="flaticon-money-2 ic-3x"></i>
    <h5 class="font-w-7 text-white mt-3">Our Value</h5>
    <p>We believe in providing the best Natural products.Our products are 💯chemical free.Natural blended plants and roots and well redefined .Suitable for both genders (male and female).</p> 
  </div>
</div>
<section>
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-lg-8 col-md-12">
        <div class="section-title">
          <h6>Timeline</h6>
          <h2 class="title">Our Company History</h2>
          <p>Maktaris herbals has been selling varities of in need consumers and as well satisfying their health needs for the past years</p>
        </div>
      </div>
    </div>
    <div class="row">
     <div class="col-lg-12 col-md-12">
        <div class="timeline-wrap">
          <ul class="timeline timeline--first list-unstyled">
            <li class="timeline-title">
              <h2>2019</h2>
            </li>
            <li class="timeline-inner timeline-left">
              <div class="timeline-content">
                <h3>Easy to use</h3>
                <p>Samco laboris nisi ut aliquip ex ea commodo consequat Duis aute irure dolor in reprehenderi.</p>
              </div>
            </li>
            <li class="timeline-inner timeline-right">
              <div class="timeline-content">
                <h3>Unique Features</h3>
                <p>Softino Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat Duis aute irure dolor in reprehenderi.</p>
              </div>
            </li>
            <li class="timeline-inner timeline-left">
              <div class="timeline-content">
                <h3>Unlimited Colors</h3>
                <p>Softino Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat Duis aute irure dolor in reprehenderi.</p>
              </div>
            </li>
          </ul>
        </div>
        <div class="timeline-wrap">
          <ul class="timeline list-unstyled">
            <li class="timeline-title">
              <h2>2020</h2>
            </li>
            <li class="timeline-inner timeline-right">
              <div class="timeline-content">
                <h3>Layout Option</h3>
                <p>Softino Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat Duis aute irure dolor in reprehenderi.</p>
              </div>
            </li>
            <li class="timeline-inner timeline-left">
              <div class="timeline-content">
                <h3>Sass Version</h3>
                <p>Softino Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat Duis aute irure dolor in reprehenderi.</p>
              </div>
            </li>
            <li class="timeline-inner timeline-right">
              <div class="timeline-content">
                <h3>Fully Responsive</h3>
                <p>Softino Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat Duis aute irure dolor in reprehenderi.</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<!--service end-->

</div>

<!--body content end--> 


<!--footer start-->

<%- include('footer') -%>
<script>

  $(document).ready(function(){
    $(".homeclass").removeClass("active");
    $(".shopclass").removeClass("active");
    $(".aboutclass").addClass("active");
    $('.contactclass').removeClass("active")

   });
  
</script>

</body>
</html>
