<!DOCTYPE html>
<html lang="en">
  <%-include('header')-%>
<!--header end-->
<!--page title start-->
<section class="page-title" data-bg-img="images/bg/088.png">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-12">
        <h1>Cart</h1>
        <nav aria-label="breadcrumb" class="page-breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a>
            </li>
            <li class="breadcrumb-item"><a href="#">Shop</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Product Cart</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</section>
<!--page title end-->


<!--body content start-->

<div class="page-content">

<section>
  <div class="container">
    <div class="table-responsive">
      <table class="cart-table table">
        <thead>
          <tr>
            <th scope="col">Product</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">       </th>
            <th scope="col">Total</th>
          </tr>
        </thead>
        <tbody class="tbody">
          <!-- <tr>
            <td>
              <div class="media">
                <div class="d-flex">
                  <a href="#">
                    <img class="img-fluid rounded box-shadow" src="images/product-thumb/01.jpg" alt="">
                  </a>
                </div>
                <div class="media-body">
                  <p>Optical Short Tshirt</p>
                </div>
              </div>
            </td>
            <td>
              <span>$</span>
              <h5>77</h5>
            </td>
            <td>
              <div class="d-flex justify-content-center align-items-center">
                <button class="btn-product btn-product-up"> <i class="fas fa-minus"></i>
                </button>
                <input class="quan form-product" type="number" name="form-product" value="1">
                <button class="btn-product btn-product-down"> <i class="slickd fas fa-plus"></i>
                </button>
              </div>
            </td>
            <td>
              <button type="submit" class="btn-delet"><i class="far fa-trash-alt"></i>
              </button>
            </td>
            <td>
              <span>$</span>
              <h5 class="totalup">77</h5>
            </td>
          </tr> -->
          <!-- <tr>
            <td>
              <div class="media">
                <div class="d-flex">
                  <a href="#">
                    <img class="img-fluid rounded box-shadow" src="images/product-thumb/02.jpg" alt="">
                  </a>
                </div>
                <div class="media-body">
                  <p>Flow Classic Backpack</p>
                </div>
              </div>
            </td>
            <td>
              <span>$</span>

              <h5>35</h5>
            </td>
            <td>
              <div class="d-flex justify-content-center align-items-center">
                <button class="btn-product btn-product-up"> <i class="fas fa-minus"></i>
                </button>
                <input class="form-product" type="number" name="form-product" value="1">
                <button class="btn-product btn-product-down"> <i class="fas fa-plus"></i>
                </button>
              </div>
            </td>
            <td>
              <button type="submit" class="btn-delet"><i class="far fa-trash-alt"></i>
              </button>
            </td>
            <td>
              <span>$</span><h5 class="totalup">35.00</h5>
            </td>
          </tr> -->
          
        </tbody>
      </table>
    </div>
    <!-- <h2 class="before">before</h2> -->
    <!-- <div class="row">
      <div class="col"> <a class="btn" href="#"><span>Update Cart</span></a>
      </div>
      <div class="col text-md-right"> <a class="btn" href="#"><span>Close Coupon</span></a>
      </div>
    </div> -->
    <div class="row justify-content-end mt-5">
      <div class="col-md-3">
        <div class="checkout-box">
          <ul class="list-unstyled">
            <li><span><strong class="cart-total"> Total :</strong></span>  <strong class="cart-total"><span>₦</span><span class="finalTotal"></span></strong>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row justify-content-end mt-5">
      <div class="col-md-6 text-md-right">
        <a class="btn" href="product-checkout"><span>Proceed to checkout</span></a>
      </div>
    </div>
  </div>
</section>

</div>

<!--body content end--> 


<!--footer start-->

<%- include('footer') -%>
<!--footer end-->


<script type="module" src="./js/cart.js"></script>
<!-- inject js end -->
<script>

  $(document).ready(function(){
    $(".homeclass").removeClass("active");
    $(".shopclass").addClass("active");
    $(".aboutclass").removeClass("active");
    $('.contactclass').removeClass("active")
   });
  
</script>
</body>
</html>
