<footer class="footer">
    <div class="primary-footer dark-bg">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 sm-mt-5">
            <!-- <h4 class="mb-4 text-white">Our Services</h4> -->
            <img id="logo-img" class="footerlogo img-center" src="images/finallogo.png" alt="">

            <!-- <div class="footer-list">
              <ul class="list-unstyled">
                <li><a href="business-services.html">Business Services</a>
                </li>
                <li><a href="software-research.html">Software & Research</a>
                </li>
                <li> <a href="finance-restructuring.html">Finance and Restructuring</a>
                </li>
                <li> <a href="energy-environment.html">Energy & Environment</a>
                </li>
                <li> <a href="investment-planning.html">Investment Planning</a>
                </li>
              </ul>
            </div> -->
          </div>
          <div class="col-lg-4 col-md-6 sm-mt-5">
            <h4 style="text-decoration: underline;"class="mb-4 text-white">Connect with us</h4>
            <p>Connect with us on our social platforms today</p>
            <!-- <div class="subscribe-form sm-mt-2">
              <form id="mc-form" class="group">
                <input value="" name="EMAIL" class="email" id="mc-email" placeholder="Email Address" required="" type="email">
                <input class="btn btn-theme" name="subscribe" value="Subscribe" type="submit">
              </form>
            </div> -->
            <div class="social-icons social-colored mt-5">
              <ul class="list-inline">
                <li class="social-icons"><a href="#"><i class="fab fa-facebook-f"></i></a>
                </li>
                <li class="social-icons"><a href="https://www.instagram.com/maktaris_herbal/"><i class="fab fa-instagram"></i></a>
                </li>
                <li class="social-icons"><a href="https://wa.link/lelfdb"><i class="fab fa-whatsapp"></i></a>
                </li>
                <!-- <li class="social-linkedin"><a href="#"><i class="fab fa-linkedin-in"></i></a>
                </li>
                <li class="social-youtube"><a href="#"><i class="fab fa-youtube"></i></a>
                </li> -->
              </ul>
            </div>
          </div>
          <div class="col-xl-4 col-lg-5 ml-auto col-md-12 md-mt-5">
            <h4 class="mb-4 text-white">About Maktaris Herbals</h4> 
            <p class="mb-3">Maktaris Herbal make excellent chemical free herb available to everyone.</p>
            <div class="footer-cntct">
              <ul class="media-icon list-unstyled">
                <li>
                  <p class="mb-0"><i class="flaticon-paper-plane"></i>Ibadan, Nigeria</p>
                </li>
                <li><i class="flaticon-email"></i>  <a href="mailto:maktarisherbalbackup@gmail.com">maktarisherbalbackup@gmail.com</a>
                </li>
                <li><i class="flaticon-phone"></i>  <a href="tel:+2348082617303">+2348082617303</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="secondary-footer theme-bg">
      <div class="container">
        <div class="copyright">
          <div class="row">
            <div class="col-lg-6"> <span>Copyright 2021 <u><a href="#">Maktaris Herbs</a></u> | All Rights Reserved</span>
            </div>
            <div class="col-lg-6 text-lg-right footer-list md-mt-2">
              <ul class="list-inline">
                <li class="list-inline-item mb-0"><a href="about-our-company">About Us</a>
                </li>
                <li class="list-inline-item mb-0"><a href="contact">Contact Us</a>
                </li>
               
              </ul>
            </div>
          </div>
        </div>            
      </div>
    </div>
  </footer>
  
  <!--footer end-->
  
  
  </div>
  
  <!-- page wrapper end -->
  
  
  <!--back-to-top start-->
  
  <div class="scroll-top"><a class="smoothscroll" href="#top"><i class="flaticon-top"></i></a></div>
  
  <!--back-to-top end-->
  
   
  <!-- inject js start -->
  
  <!--== jquery -->
  <script type="module" src="./js/script.js"></script>
  <script src="./js/theme.js"></script>
  
  <!--== theme-plugin -->
  <script src="./js/theme-plugin.js"></script>
  
  <!--== theme-script -->
  <script src="./js/theme-script.js"></script>

  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2585436781321727"
     crossorigin="anonymous"></script>
  
  
<!--Start of Tawk.to Script-->
<script type="text/javascript">
  var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
  (function(){
  var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
  s1.async=true;
  s1.src='https://embed.tawk.to/618f74176bb0760a49426bc2/1fkc5qveg';
  s1.charset='UTF-8';
  s1.setAttribute('crossorigin','*');
  s0.parentNode.insertBefore(s1,s0);
  })();
  </script>
  <!--End of Tawk.to Script-->
  
  
  <!-- inject js end -->